<h1>Please reach out to us with the contact form below.</h1>

<form action="/email" method="POST">
<table>
  <tr>
    <th><label for="sender">Sender:</label></th>
    <th><input type="text" name="sender" autofocus></th>
  </tr>
  <tr>
    <th><label for="recipient">Recipient:</label></th>
    <th><input type="text" name="recipient"></th>
  </tr>
  <tr>
    <th><label for="greeting">Message:</label></th>
    <th><textarea name="greeting" placeholder="Write your message here"></textarea>
  </tr>
  <tr>
    <th><input type="submit">
  </tr>
</table>
</form>