<h1>Fill out this form</h1>

<form action="/hello/" method="POST" enctype="multipart/form-data">
  <label for = "greeting">A Greeting:</label> <br/>
  <input type="text" id = "greeting" name = "greeting" autofocus><br />
  <label for = "name">Your Name:</label><br/>
  <input type="text" id = "name" name = "name"><br />
  <input type = "submit">
</form>
<img src = "IMG_SUBMIT.gif">