<html>
<head>
    <title>Gothons From Planet Percal #25</title>
    <link rel="stylesheet" type = "text/css" href="/stylesheets/application.css">
</head>
<body>

<%= yield %>

  <% if @user %>
    <a href="/sessions/logout">Log Out</a>
  <% end %>

</body>
</html>