  <h1> Log in</h1>
  <form action="/sessions" method="POST">
    Email:<input type ="text" name="email" placeholder="harry@email.com" autofocus />
    Password:<input type="password" name="password" /><br /><br />
    <input type = "SUBMIT">
  </form>