<h1>Welcome to an Awesome Web Game! You choose your adventure: Gothons From Planet Percal #25 or Dungeon Maze</h1>
 <% if @user == nil %> 
  <a href="/dungeon">Try Dungeon Maze</a>
  <h4>Please sign up or log in to play Gothons From Planet Percal #25 </h4>

<a href="/sessions/login">Log in</a>

  <form action="/registrations" method="POST">
    Name:<input type="text" name ="name" placeholder="Harry" autofocus />
    Email:<input type ="text" name="email" placeholder="harry@email.com" />
    Password:<input type="password" name="password" /><br /><br />
    <input type = "SUBMIT">
  </form>
  <% else %>
    <a href="/game">Gothons From Planet Percal #25</a>
<% end %>